@charset "utf-8";

@font-face {
    font-family: 'aof';
    src: url(../fonts/Act_Of_Rejection.ttf);
}

body{
    font-family: serif;
    background-image: linear-gradient(
        to left,
        #5AADBF,
        #468BA6 20%,
        #193540
    );
}
main{
    margin: auto;
    background-color: beige;
    padding: 25px;
    width: 60%;
    border-radius: 20px;   
    box-shadow: 5px 5px 5px #468BA6;
}
img{
    display: block;
    margin: auto;
    transition: transform 0.3s ease;
    transform: scale(1.0);
}

img:hover{
    transition: transform 0.3s ease;
    transform: scale(1.1);
}

h1{
    text-align: center;
    font-family: 'aof';
    color: #5AADBF;
    text-shadow: 2px 2px 5px  #468BA6;
    
}

h2{
    text-align: center;
    color: #5AADBF;
    text-shadow: 1px 1px 3px  #468BA6;  
    font: 'Playwrite CU';
}

a{ 
    font-family: 'aof';
}