@charset "utf-8";

@font-face {
    font-family: PassionOne;
    src: url(../font/PassionOne-Regular.ttf);
}

@font-face{
    font-family: Sriracha;
    src: url(../font/Sriracha-Regular.ttf);
}


:root{

    --font01: Sriracha;
    --font02: PassionOne;

}

*{

    margin: 0%;
    padding: 0%;

}

body{

    background-color: rgb(112, 112, 111);

}

header{

    color: white;
    text-align: center;
    font-size: 3.5vh;
    padding-bottom: 1.5em;
    background-color: black;
    
}

header h1{

    font: bold 10vh var(--font02);
    margin-bottom: 3vh;


}

header p{

    font: 2.5vh 'Verdana';
    padding-bottom: 1vh;
    
}

article.artigo p{

    font: normal 4vh var(--font01);
    white-space: pre-line;
    line-height: 1.4em;
    padding-left: 1em;
    
}

#art01{

    background: black url(../imagem/background003.jpg) center center fixed;
    color: white;
    padding-bottom: 1em;

}

#art02{

    background: rgb(255, 255, 255) center center fixed;
    color: rgb(0, 0, 0);
    padding-bottom: 1em;

}

#art03{

    background: black url(../imagem/background001.jpg) center center fixed;
    color: rgb(255, 255, 255);
    padding-bottom: 1em;
    
}

#art04{

    background: rgb(255, 255, 255) center center fixed;
    color: rgb(0, 0, 0);
    padding-bottom: 1em;

}

#art05{

    background: black url(../imagem/background002.jpg) center bottom fixed;
    color: rgb(255, 255, 255);
    padding-bottom: 0%;
    

}

#art05 p{

    background-image: linear-gradient(to right, black, rgba(0, 0, 0, 0));
    padding-bottom: 3%;
    margin-bottom: 0%;

}

footer{

    font-family: var(--font01);
    color: white;
    background-color: black;
    text-align: center;
    padding: 1em;

}