@charset "utf-8";

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    min-height: 100vh;
    background-color: darkgray;
}
 
header {
    background-color: black;
    color: white;
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
}

header > p {
    padding-bottom: 50px
}

a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover {
    color:white;
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    white-space: pre-line; 
    line-height: 2em;
    padding-left: 30px;
}

section.normal {
    color: black;
    background-color: white;
}

section.imagem {
    color: white;
    background-color: darkgray;
}

section.imagem > p {
    width: 500px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.397), rgba(0, 0, 0, 0.158))
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding:10px;
}