@charset "utf-8";

 @font-face {
    font-family: PassionOne;
    src: url(../font/PassionOne-Regular.ttf);
 }

 @font-face {
    font-family: Sriracha;
    src: url(../font/Sriracha-Regular.ttf);
 }

:root{

 --font01: Verdana, Geneva, Tahoma, sans-serif;
 --font02: PassionOne;
 --font03: Sriracha;

}

* {
    margin: 0px;
    padding: 0px;
    
}

html, body {
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--font01);
}
 
header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--font02);
    font-size: 8vw;
}

header > p {
    padding-bottom: 50px;
    font-size: 2vw;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover {
    color:white;
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    white-space: pre-line; 
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--font03);
    font-size: 3.5vw;
}

section.normal {
    color: black;
    background-color: white;
}

section.imagem {
    color: white;
    background-color: darkgray;
    box-shadow: inset 0px 6px 13px black;
    background-size: cover;
    background-attachment: fixed;
}

section.imagem > p {
    padding: 0px 6px 6px 6px;
    border-radius: 3px;
    display: inline-block;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.644), rgba(0, 0, 0, 0));
    text-shadow: 2px 2px 2px black;
}

section#ima01{

background-image: url(../imagem/background001.jpg);
background-position: right center;
padding: 10px;


}

section#ima02{

background-image: url(../imagem/background002.jpg);
background-position: right center;
padding: 10px;


}

footer {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 9px;
    padding:10px;
}