@charset "utf-8";

body {
        background-color: goldenrod;
        font-family: Arial, Helvetica, sans-serif;
      }
      h1 {
        color: white;
      }
      h2 {
        color: whitesmoke;
      }
      p {
        color: blue;
        text-align: justify;
      }